<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MSSQL_2014" connectionString="Server={SQL Server Machine}/{SQL Server Instance};Database={DatabaseName};User ID={Username};Password={Password};Connection Timeout = 5;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>